@font-face {
    font-family: 'CormorantGaramond';
    src: url('fonts/CormorantGaramond-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;   
    font-style: normal;
}

@font-face { 
    font-family: 'CormorantGaramond';
    src: url('fonts/CormorantGaramond-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: 'CinzelDecorative';
    src: url('fonts/Cinzel/CinzelDecorative-Regular.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'CinzelDecorative';
    src: url('fonts/Cinzel/CinzelDecorative-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'CinzelDecorative';
    src: url('fonts/Cinzel/CinzelDecorative-Black.ttf') format('truetype');
    font-weight: 900;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('fonts/Playfair Display/PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;   
    font-style: normal;
}

@font-face { 
    font-family: 'PlayfairDisplay';
    src: url('fonts/Playfair Display/PlayfairDisplay-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

.about-footer {
	border-top: 1px solid rgba(255, 255, 255, 0.08);
	margin: 0 auto;
	padding: 26px 40px 32px;
	max-width: 1100px;
	text-align: center;
	font-size: 0.8rem;
	color: #d0c4b5;
}
  
.about-footer p {
	display: inline-block;
	margin: 4px 18px;
}
  
.about-footer a {
	color: #d8c29a;
	text-decoration: none;
}
  
.about-footer a:hover {
	text-decoration: underline;
}